// media dimensions
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 480px;

// mixins
@mixin after() {
	&:after {
		content: "";
		display: block;
		@content;
	}
}

@mixin before() {
	&:before {
		content: "";
		display: block;
		@content;
	}
}

@mixin image-block($img) {
	background-image: image-url($img);
	@include size(image-width($img), image-height($img));
}

@mixin text-outline($color, $shift) {
	text-shadow: (-$shift) (-$shift) 0 $color,
		($shift) (-$shift) 0 $color,
	-$shift $shift 0 $color,
	$shift $shift 0 $color;
}

@mixin background-size($args) {
	background-size: $args;
	-webkit-background-size: $args;
}

%resetList {
	padding-left: 0;

	li {
		list-style: none;
	}
}

@mixin media($max-width, $min-width: 0) {
	@if $min-width > 0 {
		@if $max-width > 0 {
			@media screen and (min-width: $min-width) and (max-width: $max-width) {
				@content;
			}
		} @else {
			@media screen and (min-width: $min-width) {
				@content;
			}
		}
	} @else {
		@media screen and (max-width: $max-width) {
			@content;
		}
	}
}

@mixin media-vertical($max-height, $min-height: 0) {
	@if $min-height > 0 {
		@if $max-height > 0 {
			@media screen and (min-height: $min-height) and (max-height: $max-height) {
				@content;
			}
		} @else {
			@media screen and (min-height: $min-height) {
				@content;
			}
		}
	} @else {
		@media screen and (max-height: $max-height) {
			@content;
		}
	}
}

@function ptToPx($pt) {
	//@return round($pt / 1.25) + px;
	@return $pt + px;
}