@import "compass";
@import "bootstrap";

// variables
$xs: $screen-xs;
$sm: $screen-sm;
$md: $screen-md;
$lg: $screen-lg;
$green: #6e7939;
$greenLine: #8a9151;
$greenDark: #4a502e;
$red: #df4a13;
$redShadow: #b3380e;
$greyFont: #6a747c;
$greyBorder: #cbced1;
$grid-gutter-width: 20px;
$paragraphMarginBottom: 20px; // default 10px

@import "mixins";

@import "modules/common";
@import "modules/fonts";
@import "modules/header";
@import "modules/main-menu";
@import "modules/footer";
@import "modules/catalog";
@import "modules/left-menu";
@import "modules/product";
@import "modules/how-to-use";
@import "modules/delivery";