.catalog {

	&__image {
		margin-bottom: 25px;

		img {
			max-width: 100%;
		}
	}

	&__item {
		margin-bottom: 20px;
		border: 1px $greyBorder solid;
		padding: 20px;
		text-align: center;
	}

	&__item-link {
		display: block;
		text-decoration: none;
		margin-bottom: 12px;
		font-size: ptToPx(17);
		color: $greyFont;

		img {
			margin-bottom: 12px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		span {
			font-weight: bold;
			text-decoration: underline;
		}
	}

	&__item-desc {
		font-style: italic;
		margin-bottom: 12px;
		color: $greyFont;
	}

	&__item-price {
		font-weight: bold;
		color: $greyFont;
		font-size: ptToPx(17);
	}
}