.body {
	@extend %fontPtSans;
	background: image_url('body-bg.jpg');
	font-size: ptToPx(15);
}

h1, h2, h3, h4 {
	margin-top: 0;
}

p {
	margin-bottom: $paragraphMarginBottom;
}

.container_main {
	background: #fff;
}

.content {
	padding: 30px 0;
	color: $greyFont;
}

.smart-title {
	text-transform: uppercase;
	font-size: ptToPx(30);
	font-weight: bold;
	text-align: center;
	position: relative;
	color: $greyFont;
	margin-bottom: 50px;

	@include before() {
		@include size(100%, 1px);
		background: $greyFont;
		position: absolute;
		left: 0;
		top: 50%;
	}

	span {
		display: inline-block;
		padding: 0 12px;
		background: #fff;
		z-index: 1;
		position: relative;
	}
}

.carousel-main {
	margin-bottom: 50px;
}

.breadcrumbs {
	@extend %resetList;
	margin-bottom: 25px;

	li {
		font-size: ptToPx(12);
		padding-left: 14px;
		display: inline-block;
		position: relative;

		&:before {
			content: "\2014";
			position: absolute;
			left: 0;
		}

		&:first-child {
			padding-left: 0;

			&:before {
				display: none;
			}
		}

		a {
			color: $greyFont;
			text-decoration: none;
		}
	}
}

.title {
	font-size: ptToPx(27);
	color: $greyFont;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}

.green {
	color: $green;
}

h4 {
	font-size: ptToPx(17);
	font-weight: bold;
	margin-bottom: 18px;
}

.table-custom {
	margin-top: 40px;
	border-radius: 5px;
	border: 1px #6a747c solid;
	//display: block;

	th, td {
		border-top: 0 !important;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}

	th:first-child, td:first-child {
		padding-left: 22px !important;
	}

	td {
		border-bottom: 1px #b4b9bd solid;
	}

	tr:last-child {
		td {
			border-bottom: 0;
		}
	}

	th {
		border-bottom: 1px #6a747c solid;
	}
}

.checklist {
	@extend %resetList;

	li {
		font-weight: bold;
		margin-bottom: 25px;
		padding-left: 45px;
		position: relative;
		padding-top: 3px;

		@include before() {
			@include image-block('ok-icon.png');
			position: absolute;
			top: 0;
			left: 0;//
		}
	}
}

.mw-100 {
	max-width: 100%;
	display: block;
}