.delivery {

	&__info {
		margin-bottom: 30px;
	}

	&__icon {
		display: block;
		@include size(90px, 65px);
		margin-bottom: 15px;
		background: image_url('delivery-icons.png');

		&_courier {
			background-position: -90px 0;
			@include size(71px, 80px);
		}
	}
}