.footer {
	$gutterShift: 30px;
	background: $green;
	margin: 0 (-$gutterShift);
	position: relative;
	padding: 58px $gutterShift 50px;

	@include media($xs) {
		margin-left: 0;
		margin-right: 0;
	}

	$cornerWidth: $grid-gutter-width;
	$cornerHeight: 12px;
	@include before() {
		border-bottom: $cornerHeight $greenDark solid;
		border-left: $cornerWidth transparent solid;
		position: absolute;
		left: 0;
		top: -$cornerHeight;
	}

	@include after() {
		border-bottom: $cornerHeight $greenDark solid;
		border-right: $cornerWidth transparent solid;
		position: absolute;
		right: 0;
		top: -$cornerHeight;
	}

	&__line {
		margin: 0;
		border-top: 2px $greenLine solid;
		position: absolute;
		top: 5px;
		left: 0;
		width: 100%;
	}

	&__title {
		text-transform: uppercase;
		color: #fff;
		font-weight: bold;
		font-size: ptToPx(17);
		margin-bottom: 20px;
	}

	&__menu {
		@extend %resetList;

		li {
			font-weight: bold;
			margin-bottom: 15px;

			a {
				color: #fff;
			}
		}
	}

	&__copy {
		font-size: ptToPx(13);
		color: #fff;
		padding-top: 60px;
	}
}