.header {
	padding-top: 15px;

	&__logo {
		font-size: ptToPx(13);
		font-weight: bold;
		color: $greyFont;
		text-transform: uppercase;
		background: image_url('logo.png') no-repeat 50% 100%;
		@include background-size(100% auto);
		display: block;
		padding-bottom: image_height('logo.png') + 6;
		text-decoration: none;
		letter-spacing: 3.5px;
		text-align: center;
		margin-bottom: 15px;

		@include media($sm, $xs) {
			@include background-size(auto);
		}

		&_white {
			color: #fff;
			background-image: image_url('logo-white.png');
			font-size: ptToPx(9);
			padding-bottom: 50px;
		}
	}

	&__delivery {
		color: $red;
		text-transform: uppercase;
		font-size: ptToPx(12);
		margin-right: 30px;
		line-height: image_height('pay-delivery-icons.png');
		font-weight: bold;
		text-decoration: none;
		display: inline-block;
		padding-left: 38px;
		position: relative;
		margin-left: 14px;

		@include before() {
			background: image_url('pay-delivery-icons.png');
			@include size(32px, 24px);
			position: absolute;
			left: 0;
			top: 0;
		}

		&_payment {
			&:before {
				@include size(33px, 25px);
				background-image: image_url('pay-delivery-icons.png');
				background-position: -32px 0;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__search-form {
		position: relative;
		margin-bottom: 15px;

		input, button {
			height: 50px;
		}

		input {
			font-size: ptToPx(15);
			border-radius: 6px;
			border-color: $red;
		}
	}

	&__search-btn {
		@include gradient-vertical(#e66322, $red);
		color: #fff;
		font-weight: bold;
		font-size: ptToPx(19);
		position: absolute;
		top: 0;
		right: 0;
		padding-left: 44px;
		padding-right: 44px;
		border-radius: 6px;

		&:hover, &:focus {
			@include gradient-vertical($red, #e66322);
			color: #fff;
		}
	}

	&__phone {
		font-weight: bold;
		font-size: ptToPx(19);
		color: $greyFont;
		margin-bottom: $paragraphMarginBottom - floor($paragraphMarginBottom / 10) * 2; // or  6px
		text-align: right;
	}

	&__cart {
		border: 1px $greyBorder solid;
		border-radius: 4px;
		font-size: ptToPx(12);
		text-transform: uppercase;
		color: $greyFont;
		width: 100%;
		line-height: 48px;
		text-align: center;
		font-weight: bold;
		display: block;
		text-decoration: none;
		padding: 0 10px;

		@include media($md, $sm) {
			font-size: 0;
		}

		&:before {
			background: image_url('cart.png');
			width: image_width('cart.png');
			height: image_height('cart.png');
			display: inline-block;
			margin-right: 16px;
			content: '';
			vertical-align: middle;

			@include media($md, $sm) {
				margin-right: 0;
			}
		}
	}
}