.how-to-use {

	&__item {
		padding-left: 95px;
		position: relative;
		font-weight: bold;
		color: $greyFont;
		min-height: image_height('how-to-use-sprite.png');;
		margin-bottom: 20px;
		padding-top: 14px;
		padding-right: 25px;
		margin-left: 25px;

		@include before() {
			background: image_url('how-to-use-sprite.png');
			@include size(83px, 72px);
			position: absolute;
			left: 0;
			top: 0;
		}

		&_candle {
			&:before {
				background-position: -165px 0;
				@include size(78px, 71px);
			}
		}
		&_use {
			&:before {
				background-position: -83px 0;
				@include size(82px, 71px);
			}
		}
		&_cut {
			&:before {
				background-position: -315px 0;
				@include size(78px, 71px);
			}
		}
		&_children {
			&:before {
				background-position: -243px 0;
				@include size(72px, 71px);
			}
		}
		&_cover {
			&:before {
				background-position: -466px 0;
				@include size(78px, 71px);
			}
		}
		&_sun {
			&:before {
				background-position: -393px 0;
				@include size(73px, 71px);
			}
		}
		&_1cm {
			&:before {
				background-position: -616px 0;
				@include size(83px, 72px);
			}
		}
		&_place {
			&:before {
				background-position: -544px 0;
				@include size(72px, 71px);
			}
		}
	}
}