$cornerWidth: 6px;
$cornerHeight: 12px;

.left-menu {
	@extend %resetList;
	border-radius: 5px;
	border: 1px $greyFont solid;

	> li {

		&:first-child {
			border-top: 0;
		}

		> a {
			color: $greyFont;
			font-size: ptToPx(17);
			line-height: 55px;
			border-top: 1px $greyFont solid;
			position: relative;

			@include after() {
				border-left: $cornerWidth $greyFont solid;
				border-top: $cornerHeight / 2 transparent solid;
				border-bottom: $cornerHeight / 2 transparent solid;
				position: absolute;
				top: 50%;
				margin-top: - $cornerHeight / 2;
				right: 15px;
			}
		}


		&.active {
			> a {
				background: $greyFont;
				color: #fff;

				&:after {
					border-top: $cornerWidth #fff solid;
					border-left: $cornerHeight / 2 transparent solid;
					border-right: $cornerHeight / 2 transparent solid;
					margin-top: - $cornerWidth / 2;
				}
			}
		}
	}

	a {
		font-weight: bold;
		text-decoration: none;
		display: block;
		padding: 0 28px;
	}

	&__sub-menu {
		padding-left: 0;

		> li {
			> a {
				color: $green;
				font-size: ptToPx(15);
				line-height: 40px;
			}

			&.active {
				a {
					text-decoration: underline;
				}
			}
		}
	}
}