$menuHeight: 65px;
.main-menu {
	$gutterShift: 30px;
	background: $green;
	margin: 25px (-$gutterShift) 0;
	padding-left: $gutterShift;
	padding-right: $gutterShift;
	position: relative;
	@include box-shadow(0 4px 8px rgba(0,0,0,0.3));

	@include media($xs) {
		margin-left: 0;
		margin-right: 0;
	}

	&__list {
		@extend %resetList;
		position: relative;
		margin-left: -$gutterShift;
		margin-right: -$gutterShift;
		margin-bottom: 0;
		padding-left: $grid-gutter-width / 2;

		li {
			position: relative;
			padding-right: 50px;
			padding-left: $grid-gutter-width;
			display: inline-block;

			@include media($xs) {
				display: block;
			}

			@include after() {
				@include image-block('menu-separator.png');
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: - image_height('menu-separator.png') / 2;

				@include media($xs) {
					display: none;
				}
			}

			&:last-child {
				&:after {
					display: none;
				}
			}

			a {
				text-transform: uppercase;
				color: #fff;
				text-decoration: none;
				text-shadow: $greenDark 1px 1px;
				line-height: $menuHeight;
			}
		}

		&:before, &:after {
			display: block;
			content: '';
			@include size(100%, 2px);
			background: $greenLine;
			position: absolute;
			left: 0;
			bottom: 5px;
		}
		&:before {
			top: 5px;
		}
	}

	$cornerWidth: $grid-gutter-width;
	$cornerHeight: 12px;
	@include before() {
		border-top: $cornerHeight $greenDark solid;
		border-left: $cornerWidth transparent solid;
		position: absolute;
		left: 0;
		bottom: -$cornerHeight;
	}

	@include after() {
		border-top: $cornerHeight $greenDark solid;
		border-right: $cornerWidth transparent solid;
		position: absolute;
		right: 0;
		bottom: -$cornerHeight;
	}
}