.product {
	//padding-top: 60px;
	padding-bottom: 60px;

	&__big-image {
		margin-bottom: 20px;

		img {
			max-width: 100%;
		}
	}

	&__text {
		color: $greyFont;
		margin: 30px 0 45px;
	}

	&__add-cart {
		position: static;
		padding: 18px 20px;
		text-transform: uppercase;
		font-size: ptToPx(15);
		text-shadow: 1px 1px $redShadow;
	}

	&__image-list {
		margin-bottom: 20px;

		img {
			max-width: 100%;
		}
	}
}